{{desarrollador}}

<ul>
{% for horas in desarrollador.horas_set.all %}
    <li>{{horas.tarea.proyecto.nombre}} {{horas.tarea.nombre}} {{ horas.cantidad }}</li>
{% endfor %}
</ul>


<form action="{% url 'timeTracker:add' desarrollador.id %}" method="post">
{% csrf_token %}
  Horas: <input type="number" name="cantidad" value="1" min="1" max="1000"><br>
  Proyecto: 
  <select name="proyecto" onchange="ChangeList(this)">
      <option value="" selected disabled hidden>Seleccione Proyecto</option>
  {% for proyecto in proyectos %}
      <option value="{{proyecto.nombre}}">{{proyecto.nombre}}</option>
  {% endfor %}
  </select><br>

  Tarea:
  <select name="tarea" id="tareasSelect" >
    <option value="" selected disabled hidden>Seleccione Tarea</option>
  </select><br>
  
  <input type="submit" value="Agregar horas" />
</form>

<script>
var tareasPorProyecto = JSON.parse("{{tareasPorProyecto}}".replace(/&quot;/g,'"'));
function ChangeList(selectObject) {
  var proyectoSeleccionado = selectObject.value;
  var tareasSelect = document.getElementById("tareasSelect");
  while (tareasSelect.options.length) {
        tareasSelect.remove(0);
  }
  var tareas = tareasPorProyecto[proyectoSeleccionado];
  if (tareas) {
    var i;
    for (i = 0; i < tareas.length; i++) {
      var tarea = new Option(tareas[i], i);
      tareasSelect.options.add(tarea);
    }
    var defaultOption = new Option("Seleccione tarea", i);
    defaultOption.setAttribute("selected", "true");
    defaultOption.setAttribute("disabled","true" );
    defaultOption.setAttribute("hidden","true");
    tareasSelect.options.add(defaultOption);
  }
} 
</script>

